@media screen and (min-width: 992px) {
    #gallery {
        width: 90%;
    }
    figure {
        width: 33%;
    }  
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #gallery {
        width: 80%;
    }
    figure {
        width: 49%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #gallery {
        width: 100%;
    }
    figure {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    #gallery {
        width: 100%;
    }
    figure {
        width: 100%;
    }
}