* {
    color: coral;
}

#main-text {
    color: blueviolet;
    font-size: 26px;
}

.decor-text {
    text-transform: uppercase;
}

div.decor-text {
    color: crimson;
    background-color: burlywood;
}

ul li {
    margin-bottom: 20px;
    color: black;
}

ul li.a {
    color: black;
}

ul li.active {
    font-size: 40px;
}

ul li.actice + li {
    margin-top: 60px;
    font-style: italic;
}