[title] {
    font-size: 30px;
    color: red;
}

[title="About me"] {
    color: blue;
    font-style: italic;
}

[title*="olio"] {
    color: green;
    font-size: 14px;
}

[title^="More"] {
    background-color: blueviolet;
    color: white;
}

[title$="More"] {
    background-color: red;
    color: yellow;
}
li[title]:last-child {
    background-color: darkblue;
}