#background-img {
    background-color: lightblue;
    background-image: url("../img/truskawka.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

