
/* 
------------------------------------
Domyślne kolory 'flex-item' - START
------------------------------------ 
*/
.flex-item {
    color: #fff;
    font-family: 'Lato', sans-serif;
    border: 1px solid blue;
    padding: 10px;
    margin: 3px;
    background-color: orange;
    flex-basis: 27%;
    max-height: 220px;
}

.flex-item:nth-last-of-type(odd) {
    background-color: lightgray;
    max-height: 150px;
}
/* 
------------------------------------
Domyślne kolory 'flex-item' - END
------------------------------------ 
*/





.container {
    border: 1px dashed red;
    display: flex;
    flex-wrap: wrap;
    height: 700px;

    align-content: stretch;
/*    align-content: center;    */
/*    align-content: flex-start;*/
/*    align-content: flex-end;*/
/*    align-content: space-between;*/
/*    align-content: space-around;*/


}





