@media all and (min-width: 992px) {
    main > article, main > aside.aside-left, main > aside.aside-right {
        width: auto;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    main {
        flex-wrap: wrap;   
    }
    main > article {
        flex-basis: 80%;
        order: -1;
        width: auto;
    }

    main > aside.aside-right {
        order: 0;
        flex-basis: 20%;
        width: auto;
    }
    main > aside.aside-left {
        flex-basis: 100%;
        order: 1;
        width: auto;
    }
}


@media all and (max-width: 768px) {
    main {
        flex-wrap: wrap;
    }
    main > article {
        order: 0; 
        flex-basis: auto;
        width: auto;
    }
    main > aside.aside-left {
        flex-basis: 100%;
        order: 1;
        width: auto;
    }
    main > aside.aside-right {
        order: 2;
        width: auto;
        flex-basis: 100%;
    }
}